<!-- <ion-header> -->
  <!-- <ion-navbar>
	  <ion-row>
	  	<ion-col col-4 class="brand" (click)="goAboutPage();">
	  		A
	  	</ion-col>
	  	<ion-col col-4 text-center class="p-title">
	  		ARKA
	  	</ion-col>
	  	<ion-col col-4 text-right>
	  		<ion-icon ios="ios-contact" md="md-contact" class="profile-images" (click)="goProfilePage();"></ion-icon>
	  	</ion-col>
	  </ion-row>
  </ion-navbar> -->
<ion-header>
	<ion-navbar>
  	<ion-row>
	  	<ion-col *ngIf="title == 'ARKA' " col-3 class="brand">
		    <button ion-button menuToggle icon-only>
		      <ion-icon name='menu'></ion-icon>
		    </button>
	  	</ion-col>
	  	<ion-col text-center class="p-title" [ngClass]="{'col-4':title == 'ARKA', 'col-9':title != 'ARKA'}">
	  		{{title}}
	  	</ion-col>
	  	<ion-col col-3 text-right>
	  		<div *ngIf="!userDetail" class="login-text" (click)="goLogin();">
	  			Login
	  		</div>
	  		<ion-icon *ngIf="userDetail" ios="ios-contact" md="md-contact" class="profile-images" (click)="goProfilePage();"></ion-icon>
	  	</ion-col>
  	</ion-row>
  	</ion-navbar>
</ion-header>
<!-- </ion-header> -->