<ion-content padding id="login">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-icon class="page-back" (click)="goBack()">
          <!-- <img src="assets/img/back-arrow.png" alt=""> -->
          <ion-icon name="arrow-back"></ion-icon>
        </ion-icon>
      </ion-col>
      <ion-col col-12 text-center class="brand">
      	<div class="logo-circle">
      		<img src="assets/img/logo.png" alt="" width="100px">
      	</div>
      </ion-col>
    </ion-row>
    <form class="login-form" name="loginForm" #loginForm="ngForm" novalidate autocomplete="off">
      <ion-row>
        <ion-col col-12>
          <!-- <ion-list> -->
            <ion-item [ngClass]="{'error-block':!user.email && loginForm.submitted}">
              <!-- <ion-label class="input-row-label">Email Id</ion-label> -->
              <ion-input class="input-custom-box" type="email" [(ngModel)] = "user.email" #email = "ngModel" name="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Username"></ion-input>
            </ion-item>
              <span class="error" *ngIf="email.errors?.pattern && loginForm.submitted">
                Email is invalid
              </span>
            <ion-item [ngClass]="{'error-block':!user.email && loginForm.submitted}">
              <!-- <ion-label floating class="input-row-label" [ngClass]="{'text-danger':!user.password && loginForm.submitted}">Password</ion-label> -->
              <ion-input class="input-custom-box" type="password" [(ngModel)] = "user.password"  #password = "ngModel" name="password" placeholder="Password" required></ion-input>
            </ion-item>
          <!-- </ion-list> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
	      <ion-row class="home-accoun-block">
	        <div col-6 text-center class="home-btn no-padding" (click)="register();"> Create Account?</div>
	        <div col-6 text-center class="home-btn no-padding" (click)="forgotPassword();"> Forgot Password?</div>
	        </ion-row>
	    </ion-col>
	   </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button class="btn-custom-blue" block type="submit" (click)="userLogin(loginForm);">Login</button>
        </ion-col>
      </ion-row>
    </form>

  </ion-grid>
</ion-content>

