page-login {
  .error{
    color: #e26363;
    padding-bottom: 8px;
    display: block;
  }
  .list-ios {
  	>.item-block {
  		&:first-child {
  			border-top: none;
  		}
  	}
  }
  .home-btn{
    color: #767272;
    font-size: 15px;
  }
  .icon-forward{
    font-size:30px;
    vertical-align: middle;
  }
  .text-danger{
    color: #a71e1e;
  }
  .brand{
      padding: 12px 10px 50px;
  }
  .login-form .item-md{
      padding-left:0px;
      margin-bottom: 8px;
      height: 50px;
  }
  .login-form .item-inner{
    border-bottom: none !important;
    box-shadow: none !important;
  }
  .home-accoun-block{
    padding: 20px;
  }
  .logo-circle{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    background: #fff;
    margin: 0 auto;
    padding: 25px;
  }
  .logo-circle img{
    width: 50px;
  }

  .error-block{
    border: 1px solid #e26363;
    color: #fff !important;
  }
}
