<ion-content padding id="register">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-icon class="page-back" (click)="goBack();">
           <ion-icon name="arrow-back"></ion-icon>
        </ion-icon>
      </ion-col>
      <ion-col col-12 text-center class="page-title">
        Sign Up
      </ion-col>
    </ion-row>
        <form class="register-form" name="registerForm" #registerForm="ngForm" novalidate autocomplete="off">
      <ion-row>
        <ion-col col-12>
            <ion-item [ngClass]="{'error-block':!user.name && registerForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "user.name" #name = "ngModel" name="name" required placeholder="Name"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!user.email && registerForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "user.email" #email = "ngModel" name="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email"></ion-input>
            </ion-item>
            <span class="error" *ngIf="email.errors?.pattern && registerForm.submitted">
              Email is invalid
            </span>
            <ion-item [ngClass]="{'error-block':!user.phone && registerForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "user.phone" #phone = "ngModel" name="phone" required placeholder="Mobile"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!user.username && registerForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "user.username" #name = "ngModel" name="name" required placeholder="Username"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!user.password && registerForm.submitted}">
              <ion-input class="input-custom-box" type="password" [(ngModel)] = "user.password" #password = "ngModel" name="password" required placeholder="Password"></ion-input>
            </ion-item>
            <ion-row class="radio-container" radio-group name="user_type" [(ngModel)] = "user.user_type" #user_type = "ngModel" name="user_type" required [ngClass]="{'error-block':!user.user_type && registerForm.submitted}">
                <ion-col class="col-6 radio-box">
                  <ion-radio value="guest" name="user_type"></ion-radio><span>Guest</span>
                </ion-col>
                <ion-col class="col-6 radio-box">
                  <ion-radio value="parent" name="user_type"></ion-radio><span>Parent</span>
                </ion-col>
            </ion-row>
            <ion-item *ngIf="user?.user_type == 'parent'" [ngClass]="{'error-block':!user.user_school && registerForm.submitted}">
                <ion-label>School</ion-label>
                <ion-select class="select-box" [(ngModel)]="user.user_school" name="user_school_name">
                  <ion-option value="">Select School</ion-option>                                   
                  <ion-option value="1">Aurinko Academy</ion-option>  
                  <ion-option value="2">Carmel PU College</ion-option>
                  <ion-option value="3">PSBB Millennium School Cuddalore</ion-option>
                  <ion-option value="4">Vyasa International School</ion-option>
                  <ion-option value="5">Carmel High School</ion-option> 
                  <ion-option value="6">New horizon</ion-option>
                </ion-select>
            </ion-item>
            <ion-row class="home-accoun-block">
              <ion-checkbox [ngClass]="{'error-block':!user.terms && registerForm.submitted}" [(ngModel)]="user.terms" name="user_terms" #user_terms = "ngModel" required></ion-checkbox><span class="term-condition">Accept terms and Conditions</span>
            </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button color="primary" class="btn-custom-blue" block type="submit" (click)="userRegister(registerForm);">Register</button>
        </ion-col>
      </ion-row>
    </form>

  </ion-grid>
</ion-content>

