page-register {
  .error{
    color: #e26363;
    padding-bottom: 8px;
    display: block;
  }
  .list-ios {
  	>.item-block {
  		&:first-child {
  			border-top: none;
  		}
  	}
  }
  .home-btn{
    color: #767272;
    font-size: 15px;
  }
  .icon-forward{
    font-size:30px;
    vertical-align: middle;
  }
  .text-danger{
    color: #a71e1e;
  }
  .select-box .label-md, .item-select .label-md{
    padding-left: 8px;
  }
  .brand{
      padding: 12px 10px 50px;
  }
  .register-form .item-md, .radio-container{
      padding-left:0px;
      margin-bottom: 8px;
      height: 50px;
  }
  .register-form .item-inner{
    border-bottom: none !important;
    box-shadow: none !important;
  }
  .page-title{
    padding-top: 5px;
    padding-bottom: 25px;
    font-size: 20px;
    color: #7a3db7;
  }
  .home-accoun-block{
    padding: 20px;
  }
  .radio-md .radio-inner{
    background-color: #7a3db7;
  }
  .radio-container .radio-box ion-radio{
    vertical-align: middle;
  }
  .radio-container .radio-box span{
    padding-left: 6px;
  }
  .logo-circle{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    background: #fff;
    margin: 0 auto;
    padding: 25px;
  }
  .logo-circle img{
    width: 50px;
  }
  .checkbox-md .checkbox-checked{
    border-color: #7a3db7;
    background-color: #7a3db7;
  }
  .radio-md .radio-checked{
    border-color: #7a3db7;
  }
  .radio-container{
    background: #fff;
    padding: 10px 52px;
  }
  .error-block{
    border: 1px solid #e26363;
    color: #fff !important;
  }
  .error-block .checkbox-icon{
     border: none !important;
  }
  .term-condition{
    padding-left: 10px;
    color: #7a3db7;
    font-size: 15px;
  }
}
