<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-6 class="p-title">
        Add Address
      </ion-col>
      <ion-col col-3 text-right>
      </ion-col>
    </ion-row>
</ion-navbar>
</ion-header>
<ion-content padding id="add-address">
  <ion-grid>
    <form class="register-form" name="addAddressForm" #addAddressForm="ngForm" novalidate autocomplete="off">
      <h5 text-center>Billing Address</h5>
      <ion-row>
        <ion-col col-12>
            <ion-item [ngClass]="{'error-block':!userAdderss.bill_firstname && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.bill_firstname" #bill_firstname = "ngModel" name="bill_firstname" required placeholder="First Name"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!userAdderss.bill_lastname && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.bill_lastname" #bill_lastname = "ngModel" name="bill_lastname" required placeholder="Last Name"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!userAdderss.bill_companyname && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.bill_companyname" #bill_companyname = "ngModel" name="bill_companyname" required placeholder="Company"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!userAdderss.bill_email && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.bill_email" #bill_email = "ngModel" name="bill_email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email"></ion-input>
            </ion-item>
            <span class="error" *ngIf="bill_email.errors?.pattern && addAddressForm.submitted">
              Email is invalid
            </span>
            <ion-item [ngClass]="{'error-block':!userAdderss.bill_phone && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.bill_phone" #bill_phone = "ngModel" name="bill_phone" required placeholder="Mobile"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!userAdderss.bill_country && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.bill_country" #bill_country = "ngModel" name="name" required placeholder="Country"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!userAdderss.bill_address && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.bill_address" #bill_address = "ngModel" name="bill_address" required placeholder="Address"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!userAdderss.bill_city && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.bill_city" #bill_city = "ngModel" name="bill_city" required placeholder="City"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!userAdderss.bill_state && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.bill_state" #bill_state = "ngModel" name="bill_state" required placeholder="State"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!userAdderss.bill_postcode && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.bill_postcode" #bill_postcode = "ngModel" name="bill_postcode" required placeholder="Pincode"></ion-input>
            </ion-item>
            <div style="padding: 22px;">
                <ion-checkbox style="vertical-align: middle;" color="primary" [(ngModel)] = "userAdderss.enable_ship" #enable_ship = "ngModel" name="enable_ship" (ionChange)="enableShipAddress();"></ion-checkbox><span style="vertical-align: middle;padding-left: 5px;">Shipping Address</span>
            </div>
        </ion-col>
      </ion-row>

      
      <ion-row *ngIf="checked && !userAdderss.enable_ship">
        <ion-col col-12 text-center>
          <h5>Shipping Address</h5>
        </ion-col>
        <ion-col col-12>
            <ion-item [ngClass]="{'error-block':!userAdderss.ship_firstname && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.ship_firstname" #ship_firstname = "ngModel" name="ship_firstname" required placeholder="First Name"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!userAdderss.ship_lastname && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.ship_lastname" #ship_lastname = "ngModel" name="ship_lastname" required placeholder="Last Name"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!userAdderss.ship_companyname && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.ship_companyname" #ship_companyname = "ngModel" name="ship_companyname" required placeholder="Company"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!userAdderss.ship_email && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.ship_email" #ship_email = "ngModel" name="ship_email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email"></ion-input>
            </ion-item>
            <span class="error" *ngIf="ship_email.errors?.pattern && addAddressForm.submitted">
              Email is invalid
            </span>
            <ion-item [ngClass]="{'error-block':!userAdderss.ship_phone && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.ship_phone" #ship_phone = "ngModel" name="ship_phone" required placeholder="Mobile"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!userAdderss.ship_country && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.ship_country" #ship_country = "ngModel" name="name" required placeholder="Country"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!userAdderss.ship_address && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.ship_address" #ship_address = "ngModel" name="ship_address" required placeholder="Address"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!userAdderss.ship_city && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.ship_city" #ship_city = "ngModel" name="ship_city" required placeholder="City"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!userAdderss.ship_state && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.ship_state" #ship_state = "ngModel" name="ship_state" required placeholder="State"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-block':!userAdderss.ship_postcode && addAddressForm.submitted}">
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "userAdderss.ship_postcode" #ship_postcode = "ngModel" name="ship_postcode" required placeholder="Pincode"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button color="primary" class="btn-custom-blue" block type="submit" (click)="userAddress(addAddressForm);">Save</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

