<ion-header>
	<ion-navbar>
  	<ion-row>
	  	<ion-col col-2 class="brand">
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-col>
	  	<ion-col col-6 class="p-title">
	  		My Carts
	  	</ion-col>
	  	<ion-col col-3 text-right>
	  	</ion-col>
  	</ion-row>
</ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="product" *ngFor="let myCart of myCarts?.cart_views; let i = index">
    <ion-row>
      <ion-col col-3 class="product_img_container">
        <img [src]="imageUrl + myCart.image" alt="">
      </ion-col>
      <ion-col col-9 class="product_pricing">
        <ion-row>
          <ion-col col-6 text-center="">
            <h2>{{myCart.prod_name}}</h2>
            <h2 class="product_size_text">Size - <span class="">{{myCart.sizes[0].attr_name}}</span></h2>
            <h2><i class="fa fa-rupee"></i> {{myCart.price}}</h2>
          </ion-col>
          <ion-col col-6 text-center>
            <button ion-button icon-only clear small>
              <ion-icon name="add" class="custom_color"></ion-icon>
            </button>
            <h2><span class="product_count custom_color">{{myCart.quantity}}</span></h2>
            <button ion-button icon-only clear small>
              <ion-icon name="remove" class="custom_color"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="total-value-container">
    <ion-grid>
      <ion-row>
        <ion-col col-6 class="total-txt">
          TOTAL
        </ion-col>
        <ion-col col-6 class="total-amount">
          <i class="fa fa-rupee"></i> {{ total }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
<ion-footer>
  <button ion-button color="primary" block type="submit" class="footer_button" (click)="checkDelivery();" >Continue </button>
</ion-footer>
