page-my-carts{
  .product{
    padding: 10px 7px 10px 7px;
    margin-bottom: 5px;
    .row .product_img_container{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .row .product_img_container img{
      height: 80px;
      width: 80px;
      border: 1px solid #cdcdcd;
    }
    .row .product_pricing{
      padding: 8px;
      .row .product_buttons_container button{
        width: 100%;
        height: 25px;
      }
    }
  }
  .custom_color{
    color: #7a3db7;
  }
  .product_size_number{
    display: inline-block;
    border: 2px solid #7a3db7;
    padding: 3px;
    font-size: 13px;
    border-radius: 50%;
    width: 27px;
    height: 27px;
  }
  .product_size_text{
    margin: 9px;
  }
  .product_count{
    border: 1px solid #777575;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
  }
  .footer{
    background-color: #7a3db7;
    .footer_button{
      background-color: #7a3db7;
      box-shadow: none;
      font-weight: 600;
      text-transform: capitalize;
      margin: 0px;
      height: 53px
    }
  }
	.button-inner{
	 font-size: 14px;
	}
	.back-button-icon-ios{
	   font-size:22px;
	}
	.txt-gray{
		color: #5d5b5b;
	}
  .total-value-container{
    margin-top: 20px;
  }
  .total-txt{
    font-size: 16px;
  }
  .total-amount{
    color: #7a3db7;
    text-align: right;
    font-size: 18px;
  }
}
