<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-6 class="p-title">
        Select Address
      </ion-col>
      <ion-col col-3 text-right>
      </ion-col>
    </ion-row>
</ion-navbar>
</ion-header>
<ion-content>
  <ion-row col-12>
    <button ion-button color="primary" block type="submit" class="footer_button" (click)="addNewAddress();">Add New Address </button>
  </ion-row>
  <ion-card class="address-container" *ngFor="let address of addreses; let idx = index">
    <ion-grid radio-group [(ngModel)] = "selectedAddress">
        <ion-col col-12>
          <ion-row>
            <ion-col col-1 class="address-radio">
              <ion-radio [value]="address" name="address_type"></ion-radio>
            </ion-col>
            <ion-col col-10>
                <ion-row>
                <ion-col col-12 class="address-name">
                  {{address.ship_firstname}} {{address.ship_lastname}}
                </ion-col>
                </ion-row>
                <ion-row>
                <ion-col col-12 class="address-line1">
                  {{address.ship_address}} <br>
                  {{address.ship_city}}, {{address.ship_state}} {{address.ship_country}} - {{address.ship_postcode}}
                </ion-col>
                </ion-row>
                <ion-row>
                <ion-col col-12 class="address-mobile">
                  {{address.ship_phone}}
                </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-1 style="padding: 0px;">
                <button type="button" style="font-size: 14px;border: 1px solid;padding: 4px;">Edit</button>
            </ion-col>
          </ion-row>
        </ion-col>
    </ion-grid>
  </ion-card>
</ion-content>
<ion-footer>
  <button ion-button color="primary" block type="submit" class="footer_button" (click)="checkout();">Continue </button>
</ion-footer>
