page-address-list {
  .address-radio{
    padding-top:10px;
  }
  .footer{
    background-color: rgb(122, 61, 183);
    position: fixed;
    bottom: 0;
  }
   .footer-menu-grid{
    padding: 10px 0px;
  }
  .footer-menu-grid > img{
    margin-top: 4px;
  }

  .footer{
    background-color: #7a3db7;
    .footer_button{
      background-color: #7a3db7;
      box-shadow: none;
      font-weight: 600;
      text-transform: capitalize;
      margin: 0px;
      height: 53px
    }
  }
}


