page-forgot-password{
	.button-inner{
	   font-size:14px;
	}
	.back-button-icon-ios{
	   font-size:22px;
	}
	.txt-gray{
		color: #5d5b5b;
	}
	.page-title {
	    padding-top: 5px;
	    padding-bottom: 25px;
	    font-size: 20px;
	    color: #7a3db7;
	}
	.forgot-password-form .item-md{
     	padding-left:0px;
      	margin-bottom: 8px;
      	height: 50px;
  	}
  	.forgot-password-form .item-inner{
    	border-bottom: none !important;
    	box-shadow: none !important;
  	}
}