<ion-content padding id="forgot-password">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-icon class="page-back" (click)="goBack();">
           <ion-icon name="arrow-back"></ion-icon>
        </ion-icon>
      </ion-col>
      <ion-col col-12 text-center class="page-title">
        Forgot Password
      </ion-col>
    </ion-row>
        <form class="forgot-password-form" name="forgotPasswordForm" #forgotPasswordForm="ngForm" novalidate autocomplete="off">
      <ion-row>
        <ion-col col-12>

            <ion-item>
              <ion-input class="input-custom-box" type="text" [(ngModel)] = "user.email" #email = "ngModel" name="email" required placeholder="Email"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button color="primary" class="btn-custom-blue" block type="submit" (click)="getPassword(forgotPasswordForm);">Submit</button>
        </ion-col>
      </ion-row>
    </form>

  </ion-grid>
</ion-content>

