<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-6 class="p-title">
        Payment
      </ion-col>
      <ion-col col-3 text-right>

      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="total-value-container">
    <ion-grid>
      <ion-row>
        <ion-col col-12 class="address-name">
           <ion-row class="radio-container" radio-group name="user_type" [(ngModel)]="paymentType">
                <ion-col class="col-6 radio-box">
                  <ion-radio value="cod" name="user_type"></ion-radio><span class="payment_type_txt">COD</span>
                </ion-col>
                <ion-col class="col-6 radio-box">
                  <ion-radio value="payu" name="user_type"></ion-radio><span class="payment_type_txt">PayU Money</span>
                </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="total-value-container">
    <ion-grid>
      <ion-row>
        <ion-col col-12 class="price-title bar-bottom">
          PRICE DETAIL
        </ion-col>
        <ion-col col-12 class="price-amount bar-bottom">
          <ion-row>
            <ion-col col-6>
                Price ({{deliveryDetails?.data.length}} items)
            </ion-col>
            <ion-col col-6 text-right class="price-amount-txt">
               ${{deliveryDetails?.total_amount}}
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-12 class="devivery-amount bar-bottom">
          <ion-row>
            <ion-col col-6 >
                Delivery Charge
            </ion-col>
            <ion-col col-6 text-right class="devivery-amount-txt">
               ${{deliveryCharge}}
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-12 class="total-amount">
          <ion-row>
            <ion-col col-6>
                Amount Payable
            </ion-col>
            <ion-col col-6 text-right class="total-amount-txt">
               ${{deliveryDetails?.total_amount + deliveryCharge}}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
<ion-footer>
  <button ion-button color="primary" block type="submit" class="footer_button" (click)="checkPayment();" >Place Order </button>
</ion-footer>
