page-payment {
  .button-inner{
     font-size:14px;
  }
  .back-button-icon-ios{
     font-size:22px;
  }

  .list-ios > .item-block:first-child{
    border-top: none;
  }
  .list-ios > .item-block, .item-md{
      padding-left: 0px;
  }
  .product{
    border-radius: 8px;
    padding: 10px 7px 10px 7px;
    margin-bottom: 5px;
    .row .product_img_container img{
      height: 80px;
      width: 80px;
      border: 1px solid gray;
    }
    .row .product_pricing{
      padding: 8px;
      .row .product_buttons_container button{
        width: 100%;
        height: 25px;
      }
    }
  }

  .footer{
    background-color: rgb(122, 61, 183);
    position: fixed;
    bottom: 0;
  }
  .footer{
    background-color: #7a3db7;
    .footer_button{
      background-color: #7a3db7;
      box-shadow: none;
      font-weight: 600;
      text-transform: capitalize;
      margin: 0px;
      height: 53px
    }
  }
  .shoping-cart{
    width: 58px;
    height: 58px;
    margin: 0 auto;
    background: #54ADFB;
    padding: 20px 18px;
    border-radius: 50px;
    position: absolute;
    top: -18px;
    right: 28px;
  }
  .active{
    background: #c092ef;
  }
  .footer-menu-grid{
    padding: 10px 0px;
  }
  .footer-menu-grid > img{
    margin-top: 4px;
  }
    .total-value-container{
    margin-top: 20px;
  }
  .price-title{
    color: #5a5959;
    padding: 10px 8px;
  }
  .price-amount-txt, .devivery-amount-txt, .total-amount-txt{
    color: #674a84;
    font-size: 16px;
  }
  .radio-md .radio-inner{
    background-color: #7a3db7;
  }

  .radio-md .radio-checked{
    border-color: #7a3db7;
  }

  .bar-bottom{
    border-bottom: 1px solid #e4e1e1;
  }
  .payment_type_txt{
    vertical-align: top;
    padding-left: 10px;
    display: inline-block;
  }

}


