<ion-header class="slider_header">
	<ion-navbar>
  	<ion-row>
<!-- 	  	<ion-col col-2>
        <ion-icon class="page-back" (click)="goHome();">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-icon>
      </ion-col> -->
      <!-- <ion-col col-2 class="brand">
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-col> -->
	  	<ion-col col-6 class="p-title">
	  		Illume
	  	</ion-col>
	  	<ion-col col-3 text-right>

	  	</ion-col>
  	</ion-row>
</ion-navbar>
  <ion-col col-12 no-padding>
    <ion-segment  #segments class="SwipedTabs-tabs sliding_tabs batch_list_segment"  mode="md" [(ngModel)]="page">
      <ion-segment-button value="{{idx}}"  (click)="selectedTab(idx,tab)" *ngFor="let tab of tabs; let idx = index">
        {{tab.subcat_name}}
      </ion-segment-button>
<!--       <ion-segment-button value="1"  (click)="selectedTab(1)">
        Female
      </ion-segment-button>
      <ion-segment-button value="2"  (click)="selectedTab(2)">
        Kids
      </ion-segment-button>
      <ion-segment-button value="3"  (click)="selectedTab(3)">
        Oldies
      </ion-segment-button>
      <ion-segment-button value="4"  (click)="selectedTab(4)">
        Segment 5
      </ion-segment-button> -->
    </ion-segment>
  </ion-col>
</ion-header>
<ion-content id="product-list">
  <ion-slides #slider
              (ionSlideDrag)="slideChanged()"
              (ionSlideWillChange)="slideChanged()"
              (ionSlideDidChange)="slideChanged()"
              (pan)="slideChanged()"
              [pager]="false">
    <ion-slide *ngFor="let tab of tabs; let idx = index">
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let product of products">
            <ion-card class="loan-cart-container">
                <ion-card-content text-center class="loan-cart" (click)="productDetail(product);" style="padding:5px;">
                  <div class="text-center cart">
                    <img [src]="imageUrl +product.image">
                  </div>
                  <div class="price-tag"> <i class="fa fa-rupee"></i> {{product.prod_price}}</div>
                </ion-card-content>
                  <div class="product-data-list">
                    <ion-row>
                      <ion-col col-8>
                        <div class="prod-name">{{product.prod_name}} </div>
                      </ion-col>
                      <ion-col col-3 text-right>
                        <div class="like-container">
                          <img *ngIf = "product.like === 'false'" src="assets/img/like1.png" alt="" (click)="addWishList(product, product.like = 'true');">
                          <img *ngIf= "product.like === 'true'" src="assets/img/like.png" alt="" (click)="addWishList(product, product.like = 'false');">
                        </div>
                      </ion-col>
                    </ion-row>
                  </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
<!--     <ion-slide>
      <ion-grid>
        <ion-row>
         <ion-col col-6 *ngFor="let product of products">
            <ion-card class="loan-cart-container">
                <ion-card-content text-center class="loan-cart" (click)="productDetail(product);">
                  <div class="text-center cart">
                    <img [src]="imageUrl +product.image">
                  </div>
                  <div class="price-tag"> {{product.prod_price}}</div>
                </ion-card-content>
                  <div class="product-data-list">
                    <ion-row>
                      <ion-col col-8>
                        <div>{{product.prod_name}} </div>
                      </ion-col>
                      <ion-col col-3 text-right>
                        <div class="like-container">
                          <img *ngIf = "product.like === 'false'" src="assets/img/like1.png" alt="" (click)="addWishList(product, product.like = 'true');">
                          <img *ngIf= "product.like === 'true'" src="assets/img/like.png" alt="" (click)="addWishList(product, product.like = 'false');">
                        </div>
                      </ion-col>
                    </ion-row>
                  </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
         <ion-col col-6 *ngFor="let product of products">
            <ion-card class="loan-cart-container">
                <ion-card-content text-center class="loan-cart" (click)="productDetail(product);">
                  <div class="text-center cart">
                    <img [src]="imageUrl +product.image">
                  </div>
                  <div class="price-tag"> {{product.prod_price}}</div>
                </ion-card-content>
                  <div class="product-data-list">
                    <ion-row>
                      <ion-col col-8>
                        <div>{{product.prod_name}} </div>
                      </ion-col>
                      <ion-col col-3 text-right>
                        <div class="like-container">
                          <img *ngIf = "product.like === 'false'" src="assets/img/like1.png" alt="" (click)="addWishList(product, product.like = 'true');">
                          <img *ngIf= "product.like === 'true'" src="assets/img/like.png" alt="" (click)="addWishList(product, product.like = 'false');">
                        </div>
                      </ion-col>
                    </ion-row>
                  </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let product of products">
            <ion-card class="loan-cart-container">
                <ion-card-content text-center class="loan-cart" (click)="productDetail(product);">
                  <div class="text-center cart">
                    <img [src]="imageUrl +product.image">
                  </div>
                  <div class="price-tag"> {{product.prod_price}}</div>
                </ion-card-content>
                  <div class="product-data-list">
                    <ion-row>
                      <ion-col col-8>
                        <div>{{product.prod_name}} </div>
                      </ion-col>
                      <ion-col col-3 text-right>
                        <div class="like-container">
                          <img *ngIf = "product.like === 'false'" src="assets/img/like1.png" alt="" (click)="addWishList(product, product.like = 'true');">
                          <img *ngIf= "product.like === 'true'" src="assets/img/like.png" alt="" (click)="addWishList(product, product.like = 'false');">
                        </div>
                      </ion-col>
                    </ion-row>
                  </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide> -->
<!--     <ion-slide>
      <h1>Tab 5</h1>
    </ion-slide> -->
  </ion-slides>
</ion-content>
