page-product-list{
  //.segment-md .segment-button.segment-activated{
  //  border-bottom: 3px solid #E93C77 !important;
  //}
  .slider_header{
    .segment-md .segment-button.segment-activated{
      border-bottom: 3px solid #7a3db7;
      font-weight: 800;
      text-transform: capitalize;
      font-size: 14px;
    }
    .segment-md .segment-button{
      border:none ;
      color:#797777;
      background-color:white;
      border-bottom: solid 1px #797777;
      height: 33pt;
      font-weight: 800;
      text-transform: capitalize;
      font-size: 14px;
    }
    .sliding_tabs{
      background-color: #ffffff;
    }
    .header_title{
      font-size: 17px;
      font-weight: 600;
      margin-top: 13px;
    }
    ion-segment {
      display: block;
      white-space: nowrap;
      font-size: 0;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
      }

      ion-segment-button.segment-button {
        display: inline-block;
        min-width: 130px;
        width: auto;
      }
    }
  }
  .slide-zoom {
    height: 100%;
    //overflow-y: scroll;
  }
	.button-inner{
	   font-size:14px;
	}
	.back-button-icon-ios{
	   font-size:22px;
	}
	.txt-gray{
		color: #5d5b5b;
	}
  .scroll-content{
    margin-top:95px !important;
  }
  .cat-name, .prod-name{
      white-space: nowrap;
      overflow: hidden;
      o-text-overflow: ellipsis;
      text-overflow: ellipsis;
  }
	.product-data-list {
	    background-color: #f3f3f3;
	    padding: 5px 5px;
	}
	.like-container img {
	    float: right;
	    width: 20px;
	    height: 20px !important;
	}
	.cart{
		height: 120px;
    	overflow: hidden;
	}
	.price-tag{
		padding-top:10px;
	}
}
