page-forgot-password {
  .button-inner{
     font-size:14px;
  }
  .back-button-icon-ios{
     font-size:22px;
  }

  .list-ios > .item-block:first-child{
    border-top: none;
  }
  .list-ios > .item-block{
      padding-left: 0px;
  }

  .home-btn{
    color:#7076cc;
    font-size:14px;
  }
  .icon-forward{
    font-size:30px;
  }
  .text-danger{
    color: #a71e1e;
  }
  .brand{
      padding: 40px 10px 20px;
  }
  .login-form .item-md{
      padding-left:0px;
  }
}
