<ion-header>
  <ion-navbar>
    <ion-row>
      <!-- <ion-col col-3 class="brand">
        <ion-icon class="page-back" (click)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-icon>
      </ion-col> -->
      <!-- <ion-col col-2 class="brand">
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-col> -->
      <ion-col col-6 class="p-title">
        Illume
      </ion-col>
      <ion-col col-3 text-right class="profile-content">
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-content no-padding id="product-detail">
    <!-- Product Detail  -->
    <!-- {{productDetail??.img}} -->
  <ion-row no-padding style="background-color: white">
    <ion-col col-12 no-padding>
      <ion-row no-padding>
        <ion-col col-12 no-padding class="slider-content white-background">
          <ion-slides pager no-padding >
            <ion-slide padding style="height: 400px" *ngFor="let image of productDetail?.imagelist">
              <img src = "{{imageUrl+image?.image}}" width="100%">
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 >
          <h3 no-margin class="text-center">{{productDetail?.prod_name}}</h3>
        </ion-col>
        <ion-col col-12 >
          <h5 margin-bottom class="text-center"><i class="fa fa-rupee"></i> {{productDetail?.prod_price}}</h5>
        </ion-col>
      </ion-row>
      <ion-row radio-group [(ngModel)]="productSize">
        <ion-col col-2 *ngFor="let size of productDetail?.sizes; let idx = index">
          <ion-radio value="{{size.attr_id}}" (click)="changeSize(productSize);"></ion-radio>
          <ion-label class="product-sizes" [ngClass]="{'active':productSize == size.attr_id}">{{size.attr_value}}</ion-label>
        </ion-col>
<!--          <ion-col col-2>
          <ion-radio value="s"></ion-radio>
          <ion-label class="product-sizes" [ngClass]="{'active':productSize == 's'}">S</ion-label>
        </ion-col>
         <ion-col col-2>
          <ion-radio value="m"></ion-radio>
          <ion-label class="product-sizes" [ngClass]="{'active':productSize == 'm'}">M</ion-label>
        </ion-col>
         <ion-col col-2>
          <ion-radio value="l"></ion-radio>
          <ion-label class="product-sizes" [ngClass]="{'active':productSize == 'l'}">L</ion-label>
        </ion-col>
         <ion-col col-2>
          <ion-radio value="xl"></ion-radio>
          <ion-label class="product-sizes" [ngClass]="{'active':productSize == 'xl'}">XL</ion-label>
        </ion-col>
         <ion-col col-2>
          <ion-radio value="xll"></ion-radio>
          <ion-label class="product-sizes" [ngClass]="{'active':productSize == 'xll'}">XLL</ion-label>
        </ion-col> -->
      </ion-row>
      <ion-row padding>
        <ion-col col-12>
          <h4>Description</h4>
        </ion-col>
        <ion-col col-12>
          <h6>
            {{productDetail?.prod_desc}}
          </h6>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col no-padding>
      <button no-margin ion-button full large  class="btn-custom-blue" (click)="buyNow(productDetail);">Buy Now</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full large  class="btn-custom-blue" (click)="addToCart(productDetail);">Add To Cart</button>
    </ion-col>
  </ion-row>
</ion-footer>
