page-product-detail {
  .button-inner{
     font-size:14px;
  }
  .back-button-icon-ios{
     font-size:22px;
  }

  .list-ios > .item-block:first-child{
    border-top: none;
  }
  .list-ios > .item-block{
      padding-left: 0px;
  }

  .home-btn{
    color:#7076cc;
    font-size:14px;
  }
  .icon-forward{
    font-size:30px;
  }
  .text-danger{
    color: #a71e1e;
  }
 
  .login-form .item-md{
      padding-left:0px;
  }
  .text-center {
    text-align: center;
  }

  ion-slide{
      height:168px !important;
  }

  .product-sizes {
    border: 0.2em solid #7A3DB7;
    border-radius: 100%;
    padding: 12px 8px;
    font-size: 12px;
    width: 45px;
    height: 45px;
    text-align: center;
  }
  .radio-icon{
    /*display:none !important;*/
  }

  /* Hide the browser's default checkbox */
  ion-radio{
    top: 18px !important;
  }
  .radio-icon, ion-radio {
    opacity: 0;
    cursor: pointer;
    width: 45px !important;
    height: 45px !important;
    position: absolute !important;
  }
  .active{
    color: #fff !important;
    background-color: #7A3DB7 !important;
  }

}
