page-home{
	.button-inner{
	   font-size:14px;
	}
	.slide-zoom{
		max-height: 200px !important;
		margin-top: -6px;
	}
	.home-slider{
		padding-bottom: 2px !important;
	}

	.swiper-slide{
		height:auto;
		width:100% !important;
	}
	.image{
		height: 200px;
		border: 1px solid #dddddd;
	}
	
	.slider-content .swiper-pagination-bullet{
		background: #fff;
     	opacity: inherit; 
	}
	.slider-content .swiper-pagination-bullet-active{
		background: #7a3db7;
	}

	.slider-content .swiper-container-horizontal > .swiper-pagination-bullets{
		bottom: 35px;
	}
	.search-input{
		background: #fff;
	    background-image: url(../assets/img/dark-search-icon.png);
	    background-position: 93% center;
	    background-repeat: no-repeat;
		padding-left: 10px;
	    background-size: 25px;
	}
	.search-input .text-input{
		height: 25px;
	}


	.product-list-container{
	    position: absolute;
	    bottom: -18px;
	    z-index: 9999;
	    left: 0;
	    right: 0;
	}
	.search-product{
		margin-left: 5px;
    	margin-right: 5px;
	}
	.category-container, .feature-container{
		background-color: #fff;
		min-height: 150px;
	}
	.category-container{
		margin-top: 18px;
	}
	.feature-container{
		margin-top: 8px;
	}
	.footer{
		background-color: rgb(122, 61, 183);
		position: fixed;
    	bottom: 0;
	}
	.shoping-cart{
		width: 58px;
	    height: 58px;
	    margin: 0 auto;
	    background: #54ADFB;
	    padding: 20px 18px;
	    border-radius: 50px;
	    position: absolute;
	    top: -18px;
	    right: 28px;
	}
	.active{
		background: #c092ef;
	}
	.footer-menu-grid{
		padding: 10px 0px;
	}
	.footer-menu-grid > img{
		margin-top: 4px;
	}
	.category-container ion-card img{
		height: 40px;
	}
	.feature-container ion-card img{
		height: 100px;
	}
	.cart-title{
		border-bottom: 1px solid #ddd;
    	padding-bottom: 15px;
	}
	.product-data-list{
		background-color: #f3f3f3;
    	padding: 5px 5px;
	}
	.like-container img{
		float: right;
	    width: 20px;
	    height: 20px !important;
	}
/*	.scroll-content{
	    margin-bottom: 50px;
	}*/
	.price-tag{
		padding-top:10px;
	}
	.cat-name, .prod-name{
	    white-space: nowrap;
	    overflow: hidden;
	    o-text-overflow: ellipsis;
	    text-overflow: ellipsis;
	}

}
.ios .ion-page.show-page ~ .nav-decor{
   background: inherit !important;
}

.ion-ios-menu:before {
    content: "\f1c3";
}

.swiper-slide{
	height:140px;
}


