<ion-header>
	<ion-navbar>
  	<ion-row>
	  	<ion-col col-3 class="brand">
		    <button ion-button menuToggle icon-only>
		      <ion-icon name='menu'></ion-icon>
		    </button>
	  	</ion-col>
	  	<ion-col col-6 class="p-title">
	  		Home
	  	</ion-col>
	  	<ion-col col-3 text-right class="profile-content">
	  	</ion-col>
  	</ion-row>
  	</ion-navbar>
</ion-header>
<ion-content id="home">
	<ion-row class="home-slider">
		<ion-col col-12 no-padding class="slider-content">
		   <ion-slides pager>
			    <ion-slide *ngFor="let banner of banners">
			        <img src = "{{imageUrl + banner.slide_image}}" width="100%">
			    </ion-slide>
			</ion-slides>
			<div class="product-list-container">
			 	<div class="search-product">
			 		<ion-input class="search-input" type="text" placeholder="Search product"></ion-input>
			 	</div>
			</div>
		</ion-col>
	</ion-row>
	<ion-row padding>
		<ion-col class="category-container" col-12>
			<ion-col text-center col-12>
				<h6 class="cart-title">Category</h6>
			</ion-col>
			<ion-row>
				<ion-col text-center col-4 *ngFor="let category of categories">
					<ion-card class="loan-cart-container" (click)="productList(category);">
						  <ion-card-content class="loan-cart" style="padding: 5px;">
						  	<div class="cart">
							  	<img src="{{imageUrl + category.image}}">
							  	<div class="cat-name">
							  		{{category.cat_name}}
							  	</div>
						  	</div>
						  </ion-card-content>
					</ion-card>
				</ion-col>
			</ion-row>
		</ion-col>
		<ion-col class="feature-container" col-12>
			<ion-col text-center col-12>
				<h6 class="cart-title">Featured Products</h6>
			</ion-col>
			<ion-row>
				<ion-col col-6 *ngFor="let product of products">
					<ion-card class="loan-cart-container">
						  <ion-card-content text-center class="loan-cart" (click)="productDetail(product);" style="padding:5px;">
						  	<div class="text-center cart">
							  	<img src="{{imageUrl + product.image}}">
						  	</div>
						  	<div class="price-tag"> <i class="fa fa-rupee"></i> {{product.prod_price}}</div>
						  </ion-card-content>
						  	<div class="product-data-list">
						  		<ion-row>
						  			<ion-col col-8>
						  				<div class="prod-name">{{product.prod_name}} </div>
						  			</ion-col>
						  			<ion-col col-3 text-right>
						  				<div class="like-container">
					  						<img *ngIf = "product.like === 'false'" src="assets/img/like1.png" alt="">
					  						<img *ngIf= "product.like === 'true'" src="assets/img/like.png" alt="">
						  				</div>
						  			</ion-col>
						  		</ion-row>
						  	</div>
					</ion-card>
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-row>
</ion-content>
<!-- <ion-footer>
	<ion-row>
		<ion-col col-12 no-padding class="footer">
			<ion-row>
				<ion-col col-2 text-center class="footer-menu-grid active">
				 	    <img src="assets/img/home.png" alt="" width="100px" style="max-width: 24px;">
				</ion-col>
				<ion-col col-2 text-center class="footer-menu-grid">
					<img src="assets/img/tag.png" alt="" width="100px" style="max-width: 24px;">
				</ion-col>
				<ion-col col-4 text-center class="footer-menu-grid">
					<div class="shoping-cart" (click)="myCart();">
						<img src="assets/img/shopping-cart.png" alt="" width="100px" style="max-width: 24px;">
					</div>
				</ion-col>
				<ion-col col-2 text-center class="footer-menu-grid" (click)="wishList();">
					<img src="assets/img/like2.png" alt="" width="100px" style="max-width: 24px;">
				</ion-col>
				<ion-col col-2 text-center class="footer-menu-grid">
					<img src="assets/img/bell.png" alt="" width="100px" style="max-width: 24px;">
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-row>
</ion-footer> -->
