<ion-header>
	<ion-navbar>
  	<ion-row>
	  	<ion-col col-2 class="brand">
		    <button ion-button menuToggle icon-only>
		      <ion-icon name='menu'></ion-icon>
		    </button>
	  	</ion-col>
	  	<ion-col col-6 class="p-title">
	  		Help
	  	</ion-col>
	  	<ion-col col-3 text-right>
	  		
	  	</ion-col>
  	</ion-row>
</ion-navbar>
</ion-header>
<ion-content id="help">
	<ion-grid>
	  	<ion-row>
		    <!-- Help -->
	  	</ion-row>
  	</ion-grid>
</ion-content>
