<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-6 class="p-title">
        Order Summery
      </ion-col>
      <ion-col col-3 text-right>
      </ion-col>
    </ion-row>
</ion-navbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col text-center>
      <h6 style="margin-top: 10px;margin-bottom: 0px;">Billing Address </h6>
    </ion-col>
    <ion-card class="total-value-container">
      <ion-grid>
        <ion-row>
          <ion-col col-12 class="address-name">
            {{summeryDetails?.addressDetails?.bill_firstname}} {{summeryDetails?.addressDetails?.bill_lastname}}
          </ion-col>
          <ion-col col-12 class="address-line1">
            {{summeryDetails?.addressDetails?.bill_address}}, {{summeryDetails?.addressDetails?.bill_city}}<br>
            {{summeryDetails?.addressDetails?.bill_state}}, {{summeryDetails?.addressDetails?.bill_country}} - {{summeryDetails?.addressDetails?.bill_postcode}}
          </ion-col>
          <ion-col col-12 class="address-mobile">
            {{summeryDetails?.addressDetails?.ship_phone}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <h6 style="margin-top: 0px;margin-bottom: 0px;">Shipping Address</h6>
    </ion-col>
    <ion-card class="total-value-container">
      <ion-grid>
        <ion-row>
          <ion-col col-12 class="address-name">
            {{summeryDetails?.addressDetails?.ship_firstname}} {{summeryDetails?.addressDetails?.ship_lastname}}
          </ion-col>
          <ion-col col-12 class="address-line1">
            {{summeryDetails?.addressDetails?.ship_address}}, {{summeryDetails?.addressDetails?.ship_city}}<br>
            {{summeryDetails?.addressDetails?.ship_state}}, {{summeryDetails?.addressDetails?.ship_country}} - {{summeryDetails?.addressDetails?.ship_postcode}}
          </ion-col>
          <ion-col col-12 class="address-mobile">
            {{summeryDetails?.addressDetails?.ship_phone}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
</ion-row>
<ion-row>
  <ion-card class="product" *ngFor="let productDetail of summeryDetails?.productDetails; let i = index">
      <ion-row>
        <ion-col col-3 class="product_img_container">
          <img [src]="imageUrl + productDetail.image" alt="">
        </ion-col>
        <ion-col col-9 class="product_pricing">
          <ion-row>
            <ion-col col-6 text-center="">
              <h2>{{productDetail.prod_name}}</h2>
              <h2 class="product_size_text">Size - <span class="">{{productDetail.sizes[0].attr_name}}</span></h2>
              <h2><i class="fa fa-rupee"></i> {{productDetail.price}}</h2>
            </ion-col>
            <ion-col col-6 text-center>
              <h2>Quantity - <span class="">{{productDetail.quantity}}</span></h2>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
  </ion-card>
</ion-row>
<ion-row>
  <ion-card class="product">
      <ion-row>
        <ion-col col-12>
            Total - <i class="fa fa-rupee"></i> {{summeryDetails?.priceDetails?.totalamt}}
        </ion-col>
      </ion-row>
  </ion-card>
</ion-row>
<ion-row>
  <ion-col col-12 text-center>
    <button ion-button color="primary" block type="submit" class="footer_button" (click)="goHome();">Go Home</button>
  </ion-col>
</ion-row>
</ion-content>
