<ion-menu [content]="content" [swipeEnabled]="false">
  <ion-content class="menu-content">
    <ion-list class="menu-list custom-menu">
      <div ion-item detail-none>
      	 <ion-row>
		  	<ion-col col-3>
		  		<ion-icon ios="ios-contact" md="md-contact" class="menu-profile" (click)="goProfilePage();"></ion-icon>
		  	</ion-col>
        <ion-col *ngIf="!userDetails" col-8 class="login-detail">
          <div style="padding-bottom: 8px;">Welcome Guest !</div>
          <div><span (click)="goLoginPage();">Login</span> / <span (click)="goSignupPage();">Sign Up</span></div>
        </ion-col>
        <ion-col *ngIf="userDetails" col-8 class="login-detail">
          <div style="padding-bottom: 2px;">{{userDetails.name}}</div>
          <div style="padding-bottom: 2px;">{{userDetails.email}}</div>
          <div style="padding-bottom: 2px;">{{userDetails.phone}}</div>
        </ion-col>
  		</ion-row>
      </div>
      <ng-container *ngFor="let page of pages">
          <ng-container *ngIf="page.title != 'Login' && page.title != 'Log Out' && page.title != 'My Cart' && page.title != 'My Orders' && page.title != 'My Wish List'">
            <div ion-item detail-none (click)="openPage(page)">
              {{ page.title }}
            </div>
          </ng-container>

          <ng-container *ngIf="(page.title == 'My Cart' || page.title == 'My Orders') && userDetails">
            <div ion-item detail-none (click)="openPage(page)">
              {{ page.title }}
            </div>
          </ng-container>
          <ng-container *ngIf="page.title == 'Log Out' && userDetails">
            <div ion-item detail-none (click)="logout();">
              {{ page.title }}
            </div>
          </ng-container>
      </ng-container>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>

