// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/common";
.no-margin{
	margin:0px;
}

.scroll-content{
	margin-bottom: 0px;
	color: #3a3a39;
}
.toolbar{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
ion-header .toolbar-background{
	/*background-color: #ff0000;*/
	background-color: #7a3db7;
}

ion-menu .menu-list {
    margin-top: 0vh;
}

ion-menu .menu-content, ion-menu .custom-menu .item{

	background-color: #fff;
}

ion-app.md [padding] {
    padding: 5px;
}
ion-menu .custom-menu .item:first-child{
	border-top: 0px;
	background-color: #7a3db7;
	color: #fff;
}
ion-menu .custom-menu .item:last-child{
	border-bottom: 0px;
}
ion-menu .menu-list .item{
	padding:0px 12px;
}

ion-menu .menu-list .item .item-inner:last-child{
	border-bottom: none;
}
ion-menu .menu-list .item .item-inner:first-child{
	border-top: none;
}

ion-menu .menu-list .item .label{
	font-size: 14px;
	font-weight: 400;
	color: #333232;;
}
.scroll-content{
	padding-top:0px !important;
	background-color: #E8E8E8 !important;
}
.btn-custom-blue{
	background-color: #7a3db7;
	height: 55px;
}
.input-custom-box{
	color: #333550;
	font-size: 15px;
}
item-input{
	padding-left:0px;
}

.input-row-label{
	color: #5d5b5b;
	font-size: 16px;
}
.label-md[floating]{
	color: #5d5b5b;
}
.login-form .item-ios{
	padding-left: 0px;
}
.brand{
	font-style: italic;
	font-size: 18px;
	padding: 0px 0px 0px 5px;
}

.no-padding{
   padding:0px;
}

.content{
    margin-top:0px;
}

.text-danger{
	color: #a71e1e !important;
}

.statusbar{
	color:#fff !important;
}
.logo-text{
	position: relative;
    left: -3px;
    color: #FF9800;
    font-weight: 500;
}

.list-ios > .item-block:first-child {
	border-top: none;
}

ion-app.ios [padding] .scroll-content, ion-app.md [padding] .scroll-content {
	padding:0px;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
	border-bottom: 1px solid #dedede;
	box-shadow: none !important;
}

.toolbar-md {
    min-height: 56px !important;
}

.brand .bar-buttons {
    padding-top: 0px;
}

.toolbar-md{
	color: #fff;
    font-size: 18px;
}

.menu-profile{
	font-size: 52px;
    color: #fff;
}
.login-detail{
	color: #fff;
}

/*ion-menu .custom-menu .item{
	border-bottom: 1px solid #d2cdcd;
}*/

.page-back img{
	width:20px;
}

.white-background {
  background-color: white
}

