page-profile{
	.button-inner{
	   font-size:14px;
	}
	.profile-container{
		padding-top: 22px;
	}
	.back-button-icon-ios{
	   font-size:22px;
	}
	.profile_img{
		width: 120px;
    	border-radius: 50%;
	}
	.profile-text{
		color: #5d5b5b;
		font-size:13px;
		padding-bottom: 4px;
	}
	.profile-name{
	   color: #212121;
	   padding-bottom: 4px;
	}
}