<ion-header>
	<ion-navbar>
  	<ion-row>
	  	<ion-col col-2 class="brand">
		    <button ion-button menuToggle icon-only>
		      <ion-icon name='menu'></ion-icon>
		    </button>
	  	</ion-col>
	  	<ion-col col-6 class="p-title">
	  		Contact Us
	  	</ion-col>
	  	<ion-col col-3 text-right class="profile-content">
	  	</ion-col>
  	</ion-row>
  	</ion-navbar>
</ion-header>
<ion-content id="my-contact-us">
  	<ion-row>
	    <ion-col text-center col-12 class="no-padding">
		   contact
	    </ion-col>
  	</ion-row>
</ion-content>
