<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-2 class="brand">
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6 class="p-title">
        My Wish List
      </ion-col>
      <ion-col col-3 text-right>

      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

  <ion-content id="wish-list">
    <ion-card class="product" *ngFor="let myWishList of myWishLists">
      <ion-row>
        <ion-col col-3="" class="product_img_container">
          <img [src]="myWishList.img[0]" alt="">
        </ion-col>
        <ion-col col-9="" class="product_pricing">
          <ion-row>
            <ion-col col-6="">
              <h2 text-center="">{{myWishList.product_name}}</h2>
              <h2 text-center="">${{myWishList.price}}</h2>
            </ion-col>
            <ion-col col-6="" class="product_buttons_container">
              <button ion-button="" color="primary">In Stock</button>
              <button ion-button="" color="primary" (click)="goToCartPage()">Add to cart</button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-content>

<!-- <ion-footer>
  <ion-row>
    <ion-col col-12 no-padding class="footer">
      <ion-row>
        <ion-col col-2 text-center class="footer-menu-grid active">
          <img src="assets/img/home.png" alt="" width="100px" style="max-width: 24px;">
        </ion-col>
        <ion-col col-2 text-center class="footer-menu-grid">
          <img src="assets/img/tag.png" alt="" width="100px" style="max-width: 24px;">
        </ion-col>
        <ion-col col-4 text-center class="footer-menu-grid">
          <div class="shoping-cart">
            <img src="assets/img/shopping-cart.png" alt="" width="100px" style="max-width: 24px;">
          </div>
        </ion-col>
        <ion-col col-2 text-center class="footer-menu-grid">
          <img src="assets/img/like2.png" alt="" width="100px" style="max-width: 24px;">
        </ion-col>
        <ion-col col-2 text-center class="footer-menu-grid">
          <img src="assets/img/bell.png" alt="" width="100px" style="max-width: 24px;">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer> -->
