<ion-header>
	<ion-navbar>
  	<ion-row>
	  	<ion-col col-2 class="brand">
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-col>
	  	<ion-col col-6 class="p-title">
	  		My Orders
	  	</ion-col>
	  	<ion-col col-3 text-right>
	  	</ion-col>
  	</ion-row>
</ion-navbar>
</ion-header>
<ion-content>
    <ion-card class="product" *ngFor="let productDetail of productDetails; let i = index">
      <ion-row>
        <ion-col col-3 class="product_img_container">
          <img [src]="imageUrl + productDetail.image" alt="">
        </ion-col>
        <ion-col col-9 class="product_pricing">
          <ion-row>
            <ion-col col-6 text-center="">
              <h2>{{productDetail.prod_name}}</h2>
              <h2 class="product_size_text">Size - <span class="">{{productDetail?.sizes[0]?.attr_name}}</span></h2>
              <h2>Quantity - <span class="">{{productDetail.quantity}}</span></h2>
              <h2><i class="fa fa-rupee"></i> {{productDetail.price}}</h2>
            </ion-col>
            <ion-col col-6 text-center>
              <h2>Order Id - <span class="">{{productDetail.ord_id}}</span></h2>
              <h2>Status - <span class="">{{productDetail.order_status}}</span></h2>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
  </ion-card>
</ion-content>
