<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-2 class="brand">
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6 class="p-title">
        My Account
      </ion-col>
      <ion-col col-3 text-right>
        
      </ion-col>
    </ion-row>
</ion-navbar>
</ion-header>
<ion-content padding id="account">
    <!-- account  -->
</ion-content>
