<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-6 class="p-title">
        Delivery
      </ion-col>
      <ion-col col-3 text-right>
      </ion-col>
    </ion-row>
</ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="total-value-container">
    <ion-grid>
      <ion-row>
        <ion-col col-12 class="address-name">
          {{deliveryDetails?.delivery?.ship_firstname}} {{deliveryDetails?.delivery?.ship_lastname}}
        </ion-col>
        <ion-col col-12 class="address-line1">
          {{deliveryDetails?.delivery?.ship_address}} <br>
          {{deliveryDetails?.delivery?.ship_city}}, {{deliveryDetails?.delivery?.ship_state}} , {{deliveryDetails?.delivery?.ship_country}} - 642201
        </ion-col>
        <ion-col col-12 class="address-mobile">
          {{deliveryDetails?.delivery?.ship_phone}}
        </ion-col>
        <ion-col col-12 text-center>
          <button ion-button="" color="primary" (click)="changeAddress();">Add Address or Change</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
<!--   <ion-card class="product" *ngFor="let deliveryDetail of deliveryDetails?.data; let i = index">
    <ion-row>
      <ion-col col-3 class="product_img_container">
        <img [src]="deliveryDetail.img[0]" alt="">
      </ion-col>
      <ion-col col-9 class="product_pricing">
        <ion-row>
          <ion-col col-6 text-center="">
            <h2>{{deliveryDetail?.product_name}}</h2>
            <h2 class="product_size_text">Size <span class="product_size_number">{{deliveryDetail?.size}}</span></h2>
            <h2 *ngIf="!deliveryDetail.variant_price">${{deliveryDetail?.amount}}</h2>
            <h2 *ngIf="deliveryDetail.variant_price">${{deliveryDetail?.variant_price}}</h2>
          </ion-col>
          <ion-col col-6 text-center>
            <button ion-button icon-only clear small (click)="changeQty(deliveryDetail, i, 1)">
              <ion-icon name="add" class="custom_color"></ion-icon>
            </button>
            <h2><span class="product_count custom_color">{{deliveryDetail?.qty}}</span></h2>
            <button ion-button icon-only clear small (click)="changeQty(deliveryDetail, i, -1)">
              <ion-icon name="remove" class="custom_color"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card> -->
  <ion-card class="total-value-container">
    <ion-grid>
      <ion-row>
        <ion-col col-12 class="price-title bar-bottom">
          PRICE DETAIL
        </ion-col>
        <ion-col col-12 class="price-amount bar-bottom">
          <ion-row>
            <ion-col col-6>
                Product Price (items)
            </ion-col>
            <ion-col col-6 text-right class="price-amount-txt">
               <i class="fa fa-rupee"></i> {{deliveryDetails?.amount}}
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-12 class="devivery-amount bar-bottom">
          <ion-row>
            <ion-col col-6 >
                Delivery Charge
            </ion-col>
            <ion-col col-6 text-right class="devivery-amount-txt">
               <i class="fa fa-rupee"></i> 0
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-12 class="total-amount">
          <ion-row>
            <ion-col col-6>
                Amount Payable
            </ion-col>
            <ion-col col-6 text-right class="total-amount-txt">
               <i class="fa fa-rupee"></i> {{deliveryDetails?.amount}}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
    <ion-card class="payment-option">
    <ion-grid>
      <ion-row>
        <ion-col col-12 class="address-name">
           <ion-row class="radio-container" radio-group name="user_type" [(ngModel)]="paymentType">
                <ion-col class="col-6 radio-box">
                  <ion-radio value="cod" name="user_type"></ion-radio><span class="payment_type_txt">COD</span>
                </ion-col>
                <ion-col class="col-6 radio-box">
                  <ion-radio value="payu" name="user_type"></ion-radio><span class="payment_type_txt">PayU Money</span>
                </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
<ion-footer>
  <button ion-button color="primary" block type="submit" class="footer_button" (click)="checkout();">Place Order </button>
</ion-footer>
