page-delivery {
  .product{
    padding: 10px 7px 10px 7px;
    margin-bottom: 5px;
    .row .product_img_container{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .row .product_img_container img{
      height: 80px;
      width: 80px;
      border: 1px solid #cdcdcd;
    }
    .row .product_pricing{
      padding: 8px;
      .row .product_buttons_container button{
        width: 100%;
        height: 25px;
      }
    }
  }
  .custom_color{
    color: #7a3db7;
  }
  .product_size_number{
    display: inline-block;
    border: 2px solid #7a3db7;
    padding: 3px;
    font-size: 13px;
    border-radius: 50%;
    width: 27px;
    height: 27px;
  }
  .product_size_text{
    margin: 9px;
  }
  .product_count{
    border: 1px solid #777575;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
  }
  .footer{
    background-color: #7a3db7;
    .footer_button{
      background-color: #7a3db7;
      box-shadow: none;
      font-weight: 600;
      text-transform: capitalize;
      margin: 0px;
      height: 53px
    }
  }
  .button-inner{
     font-size:14px;
  }
  .back-button-icon-ios{
     font-size:22px;
  }
  .txt-gray{
    color: #5d5b5b;
  }
  .total-value-container{
    margin-top: 20px;
  }
  .price-title{
    color: #5a5959;
    padding: 10px 8px;
  }
  .price-amount-txt, .devivery-amount-txt, .total-amount-txt{
      color: #674a84;
      font-size: 16px;
  }

  .bar-bottom{
    border-bottom: 1px solid #e4e1e1;
  }

  .radio-md .radio-inner{
    background-color: #7a3db7;
  }

  .radio-md .radio-checked{
    border-color: #7a3db7;
  }

  .bar-bottom{
    border-bottom: 1px solid #e4e1e1;
  }
  .payment_type_txt{
    vertical-align: top;
    padding-left: 10px;
    display: inline-block;
  }

}


